<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <form method="post">
            分类名称：<input type="text" name="name"><br>
            <input type="submit" value="添加分类">
            
        </form>
        {% for message in get_flashed_messages() %}
            <span style="color: #101010;">{{message}}</span>
        {%endfor%}
    </center>

</body>
</html>