<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
</head>
<body align="center">


    <form action="" method="post" enctype="multipart/form-data">
        <label>商品分类：</label>
        <select name="cid">
            {% for cate in cates %}
                 <option value="{{ cate.id }}">{{ cate.name }}</option>
            {% endfor %}
        </select><br><hr color="blue" height='50px'>
        商品名称：<input type="text" name="name"> <br>
        商品价格：<input type="text" name="price"> <br>
        商品描述：<input type="text" name="descrip"><br>
        商品内容：<input type="text" name="content"><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        上传图片：<input type="file" name="index_image"><br>
        商品数量：<input type="text" name="number"><br>
        <input type="submit" value="添加商品">
    </form>


    {% for message in get_flashed_messages() %}  <!--获取视图函数中所有的flash闪现-->
        <span style="color: gold">{{ message }}</span> <br>
    {% endfor %}


</body>
</html>